* {
  /* 1. here we decide to set the value of padding and margin to 0 because in chrome by default the margin and padding have value different of 0. 
     and after we precise the box-sizing value*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Helvetica Neue, Arial;
  font-size: 18px;
}

h1, h2 {
  color: #00960b;
  /* font-family: Helvetica Neue, Arial; */
}

/* here we formate element h1 */
h1 {
  font-size: 40px;
  /* 2. like we need some margin in the main heading : margin is white space between box 
     and we want margin between the h1 and h2 heading */
  margin-bottom: 20px;
}

/* here we formate element h1 */
h2 {
  font-size: 25px;
  /* 3. here we see that wze dont have space between h2 element and the following paragraph */
  margin-bottom: 10px;
}

/* add rule for selecter p */
/* p { */
  /* text-align: justify; */
  /* font-family: Helvetica Neue, Arial; */
/* } */

/* for reference an class we use a dot */
.main-text {
  text-align: justify  ;
  /* 4. now we want to put space after the main paragraph */
  margin-bottom: 20px;
}
/* for reference an id we use a # */
/* #author-text { */
/*   font-size: 22px ; */
/* } */
.author-text {
  font-size: 22px ;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

/* here we define exactly which behavior we wish for the div container   */
.container {
  width: 1140px;
  /* the website is center */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 20px; put a marg between the browser top and the first paragrah */
  margin: 20px auto 0 auto; /* mean top - right - bottom - left  */  
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px; /* make a padding to the right for the main paragraph */ 
  position: relative;
}

.other-posts {
  width: 25%;
  float: left;
}

.author-box {
  border-top: 1px solid #808080;
  padding-top: 20px;
}

.other {
  margin-bottom: 40px;
}

.author-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

.blog-post img {
  height: 150px;
  width: auto;
  /* border-radius: 50%; */
  /* float: left; */
}

.date {
  position: absolute;
  top: 10px;
  right: 30px;
}
