body {
  font-family: Helvetica Neue, Arial;
  font-size: 18px;
}

h1, h2 {
  color: #00960b;
  /* font-family: Helvetica Neue, Arial; */
}

/* here we formate element h1 */
h1 {
  font-size: 40px;
}

/* here we formate element h1 */
h2 {
  font-size: 25px;
}

/* add rule for selecter p */
/* p { */
  /* text-align: justify; */
  /* font-family: Helvetica Neue, Arial; */
/* } */

/* for reference an class we use a dot */
.main-text {
  text-align: justify  ;
}
/* for reference an id we use a # */
/* #author-text { */
/*   font-size: 22px ; */
/* } */
.author-text {
  font-size: 22px ;
}
